/*
CSS DOCUMENT
*/

body {
    font-family:                                verdana;
    font-size:                                  1em;
    color:                                      #fff;
    background:                                 #d17568;    
}