/* CSS DOCUMENT PRACTICE */



/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
=========
MY STYLES
=========
*/


* {
    text-decoration:                            none;
    list-style-type:                            none;
    box-sizing:                                 border-box;
    -webkit-box-sizing:                         border-box;
}


.clearfix:after {
    content:                                    '';
    display:                                    table;
    clear:                                      both;
}


a {
    color:                                      #000;
}


html, body {
    width:                                      100%;
    height:                                     100%;
    font-size:                                  1em;
    font-family:                                verdana, sans-serif;
    text-rendering:                             optimizeLegibility;
    background:                                 #b0cfea;
    z-index:                                    0;
    -webkit-backface-visibility:                hidden;
}


nav {
    width:                                      1000px;
}

nav ul {
    padding:                                    0;
}

nav ul li {
    position:                                   relative;
    float:                                      left;
    padding:                                    7px 22px 12px;
    border-left:                                2px dashed red;
}

nav ul li ul {
    display:                                    none;
}

nav ul li:hover > ul {
    position:                                   absolute;
    display:                                    block;
}

nav ul li ul {
    width:                                      403px;
    left:                                       0;
    margin-top:                                 12px;
    padding-top:                                10px;
    box-shadow:                                 0 1px 1px rgba(85, 85, 85, .75);
    border-top:                                 2px dashed red;
}


nav ul li ul li {
    width:                                      143px;
    border:                                     0;
}


.align_right {
    left:                                       auto;
    right:                                      0;
}